extends ./layout.jade
block extraCSS
  link(href="/kitchen/asset/css/plugins/" + plugin + ".css", rel="stylesheet")
  link(href="/kitchen/asset/css/syncbase.css", rel="stylesheet")
block content
  #player
  form#hostControls
    input(name="contentId")
    input(type="submit")
  a#sourceDisplay(target="_blank") Source
  script(src="/kitchen/socket/socket.io.js")
  script(src="/kitchen/asset/js/debug.js")
  // needed for drag-and-drop file upload/sync
  script(src="https://mediacru.sh/static/mediacrush.js")
  script(src="/kitchen/asset/js/syncbase.js")
  script.
    SyncBase.connect(#{id});
